@{
    ViewData["Title"] = "Error404";
}
<br />
<br />
<div class=" row">
    <div class=" col-md-4">

    </div>
    <div class=" col-md-4 text-danger" >
        <img src="~/images/nofound.png" alt="Imagen no encontrada" height="300vh">
       
    </div>
    <div class=" col-md-4">
    </div>

</div>




